* {
    margin: 0px;
    padding: 0px;
}
.navdiv {
    display: flex;
    padding-left: 200px;
    padding-top: 28px;
    padding-right: 200px;
    background-color: #07081A;
    border: 1px;
    border-bottom: solid #261C51;
    color: #FFF;
    align-items: center;
    flex-direction: row;
}

.logo {
   margin-right: 640px;
   flex-direction: row;
}

.HISG {
   flex-direction: row;
}
.H {
    color: #8CE900;
}